[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pk-config = {editable = true, ref = "v0.1.3", git = "https://github.com/tulare/pk-config"}
pk-services = {editable = true, ref = "v0.1.9", git = "https://github.com/tulare/pk-services"}

[dev-packages]
pyreadline3 = "*"

[requires]
