[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pk-config = {editable = true, ref = "v0.1.4", git = "https://github.com/tulare/pk-config"}
pk-services = {editable = true, ref = "v0.1.15", git = "https://github.com/tulare/pk-services"}
yt-dlp = ">=2024.7.2"

[dev-packages]
pyreadline3 = "*"

[requires]
