[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pk-config = {ref = "v0.1.8", git = "https://github.com/tulare/pk-config"}
pk-services = {ref = "v0.1.16", git = "https://github.com/tulare/pk-services"}
pillow = "*"

[dev-packages]
pyreadline3 = "*"
nose2 = "*"

[requires]
python_version = "3.12"
