-i https://pypi.org/simple
brotli==1.1.0 ; implementation_name == 'cpython'
certifi==2023.11.17 ; python_version >= '3.6'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
idna==3.6 ; python_version >= '3.5'
lxml==5.1.0 ; python_version >= '3.6'
mutagen==1.47.0 ; python_version >= '3.7'
pillow==10.2.0
-e git+https://github.com/tulare/pk-config@5875c9d792d052c372a048643c27ac3c887d2542#egg=pk-config
-e git+https://github.com/tulare/pk-services@216a6aa1ffeb66061f958c8caeb47f28cb6911bf#egg=pk-services
pycryptodomex==3.20.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pysocks==1.7.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
requests==2.31.0 ; python_version >= '3.7'
urllib3==2.1.0 ; python_version >= '3.8'
websockets==12.0 ; python_version >= '3.8'
yt-dlp==2023.12.30 ; python_version >= '3.8'
